<include('./layout.marko') title=input.title>
  <@body>
    <h1>This name came from your route index.js: ${input.name}</h1>
    <p>The nex line has the same name input but the value changes from your view index.marko</p>
    <cout name="world!"/>
  </@body>
</include>