
<lasso-page/>
<!doctype html>
<html>
<head>
    <title>${input.title}</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <lasso-head/>
</head>
<body>
    <include(input.body)/>

    <lasso-body/>
</body>
</html>